---
title: Dol Guldur
kind: article
description: Painting guide for Dol Guldur
date: 2022-04-01
tags: [ 'painting' ]
---

<p>Adapted from the painting guide in the <i>Fall of the Necromancer</i> (2021) supplement.</p>

<h3>Entire Model</h3>

<ol>
<li>Overall basecoat in Rhinox Hide (=> 2:1 Craftsman Brown:Americana Lamp Black)
<li>Heavy drybrush Eshin Grey (=> 3:2 Americana Lamp Black:Folk Art Titanium White)
<li>Drybrush Mechaninus Standard Grey (=> 2:3 Americana Lamp Black:Folk Art Titanium White)
<li>Very light drybrush Dawnstone
<li>Dab green in various places (1:1 GW Biel-tan Green:GW Yellow Ink)
</ol>

<h3>The Metal Bits</h3>

<ol>
<li>basecoat GW Warplock Bronze
<li>very heavy drybrush Army War Painter Gun Metal
</ol>

<p>Wash entire model in GW Nuln Oil</p>

<p>Light drybrush the metal bits with Army War Painter Plate Mail</p>

<h3>Vines</h3>

<ol>
<li>Basecoat with Vallejo Russian Uniform WWII
<li>Heavy drybrush Militarum Green (Contrast)
<li>Drybrush Vallejo Russian Uniform WWII
<li>Light drybrush GW Straken Green
<li>Highlight GW Elysian Green
</ol>

<h3>Dead Trees</h3>

<ol>
<li>Basecoat with GW Rhinox Hide
<li>Heavy drybrush with GW Gorthor Brown
<li>Drybrush with GW Baneblade Brown
<li>Light drybrush with GW Karak Stone
</ol>

<h3>Bones &amp; Skulls</h3>

<ol>
<li>Basecoat with GW Karak Stone
<li>Wash with Agrax Earthshade
<li>Heavy drybrush GW Screaming Skull
<li>Highlight with 1:1 Vallejo White:Water
</ol>
