---
title: "SBG Spellcasters"
kind: article
description: >
  Filterable list of all the spells in the
  <a href="https://www.warhammer.com/en-US/shop/middle-earth">Middle Earth Strategy Battle Game</a>,
  along with the spellcasters that can use them.
date: 2024-09-30
use_mithril: true
jsdb: "/sbg-magic-data-source/1"
extra_css:
  - "/css/sbg-tools.css"
  - "/css/sbg-magic.css"
footer_js: "/js/sbg-magic.js"
tags: [ 'sbg' ]
---

<div id="magic">
</div>